@model MoralCompass.Models.AuthorizationModel

<!DOCTYPE html>

<html>
<head>
    <title>Вход</title>
    <meta charset="utf-8"/>
</head>

<body>
<form asp-action="Authorization" method="post">
    @Html.AntiForgeryToken()
    
    <div>
        <label asp-for="Login"></label>
        <input asp-for="Login" class = "form-control"/>
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class = "form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    
    <button type="submit">Войти</button>
    
    <p>Нет аккаунта? <a asp-action="Registration" asp-controller="Registration">Создать аккаунт</a></p>
</form>
</body>
</html>