@model MoralCompass.Models.RegistrationModel

<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
</head>
<body>
<form asp-action="Registration" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Login"></label>
        <input asp-for="Login" class="form-control"/>
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit">Зарегистрироваться</button>
    <p>Уже есть аккаунт? <a asp-action="Authorization" asp-controller="Authorization">Войти</a></p>
</form>
</body>
</html>